<?xml version="1.0"?>

<launch>
  <!-- AMCL Node -->
  <!-- Subscribe: /map /scan and /tf -->
  <!-- Publish: /amcl_pose and /map->/odom -->
<!--<include file="$(find navstack_pub)/launch/amcl.launch"/>-->

  <!-- robot pose EKF -->
  <!-- subscribe to camera/odom camera/imu and /scanmather (odom of hector slam) -->
  <!-- publish /odom->/base_footprint -->
  <!--<include file="$(find navstack_pub)/launch/ekf_template.launch"/>-->


        <include file="$(find paquitop)/launch/tf.launch" />

<!-- Slam Node -->
  <!-- Subscribe: /scan and /tf -->
  <!-- Publish: /map, /poseupdate and /map->/odom -->
	<include file="$(find navstack_pub)/launch/hector.launch"/>

  <!-- Move Base Node -->
  <!-- Subscribe: /move_base_simple/goal -->
  <!-- Publish: /cmd_vel-->
	<include file="$(find navstack_pub)/launch/move_base.launch" />

	<!-- Follow Waypoints Node -->
  <!-- Subscribe: /addpose /waypoints -->
  <!-- Publish: /move_base_simple/goal-->
	<include file="$(find follow_waypoints)/launch/follow_waypoints.launch" />
	
	<!-- RVIZ launcher-->
<!--  <arg name="node_start_delay3" default="3.0" />
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find paquitop)/rviz/config.rviz" launch-prefix="bash -c 'sleep $(arg node_start_delay3); $0 $@' "/>-->

</launch>
