<?xml version="1.0"?>
<launch>
	<!--<arg name="arm" default="gen3_lite"/>
	<arg name="robot_name" default="my_$(arg arm)"/>-->
    <arg name="start_delay_seconds" default="8"/>
    <node name="torque_velocity_control" pkg="impedance_control" type="torque_velocity_control.py" output="screen" launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@' " />   <!-- ns="$(arg robot_name)" output="screen"/>--> 
     
    <node name="torque_plot"
        pkg="rqt_multiplot"
        type="rqt_multiplot"
        args = "--multiplot-run-all --multiplot-config $(find impedance_control)/multiplot_config/vel.xml" />
        <!-- args="/torque/value[0] /torque/value[1] /torque/value[2] /torque/value[3] /torque/value[4] /torque/value[5]" />-->
</launch>